@tailwind base;
@tailwind components;
@tailwind utilities;

.app-background {
  @apply min-h-screen relative flex flex-col justify-start items-center;
  padding: 32px 40px;
  gap: 40px;
}

.app-background::before {
  content: "";
  @apply absolute inset-0 bg-cover bg-center bg-no-repeat;
  background-image: url("../public/background.png");
  opacity: 0.6;
  z-index: -1;
}

.content {
  @apply flex flex-col gap-10 relative;
  width: 100%;
  height: 100%;
}
